@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: oklch(0.55 0.1202 251.83);
  --color-black: oklch(0.32 0 0);
}

/* Light mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
.dark {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

@layer {
  button {
    @apply cursor-pointer disabled:bg-gray-800 disabled:cursor-not-allowed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}